@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

#root {
  width: 100%;
  height: 100%;
}